* {
    font-family: 'Open Sans';
}
p {
    font-size: 18px;
    line-height: 25px;
}

.header {
    padding: 20px 250px 100px 250px;
}

.header_navigation {
    border-bottom: 1px solid #828282;
    padding: 25px 250 px;
}

.nav_list {
    list-style-type: none;
    display: flex;
     justify-content: center;
}

.nav_link {
    color: black;
    color: #828282;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    line-height: 25px;
    text-shadow: 0.5px 0.5px 5px #828282;
}

.nav_link--active {
    color: #070707;
}

.nav_link :hover {
    text-decoration: none;
    color: black;
}

.header-1 {
    font-weight: bold;
    font-size: 47.3392px;
    line-height: 64px;
    color: #070707;
}

.photo {
    width: 929px;
    height: 380px;
}

.section {
    padding: 100px 0;
    text-align: center;
}

.about-me{ 
    background: #F6F6F6;
    text-align: center;
}

.subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
}

.stars_container {
    margin-top: 60px;
}

.skill_description {
    font-family: Gilroy-Bold;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #828282;
}

.star {
    margin-right: 8px;
}

.skill {
    display: inline-block;
   padding: 0 45px;
}

.skills_container {
    margin-top: 80px;
}


.portfolio {
    background:#F6F6F6;
     }

.portfolio_item{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio_link {
    color: #070707;
}

.p_footer {
    margin-top: 20px;
}

.button {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: black;
    color: #FFFFFF;
    border-radius: 100px;
    margin-top: 75px;
}

.img_conteiner {
       margin-top: 30px;
    }

.contacts {
    margin-left: 30px;
    margin-right: 30px;
}

.p1_footer {
    font-size: 14px;
line-height: 19px;
color: #828282;
margin-top: 44px;
}