*{
    transition: all.1s ease-in;
}

.screen{
    background-color: #3B3F45;
}

.header{
    background-color: #4A4F56;
    color: #FF8984;
    text-align: center;
}

.title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    padding-top: 19px;
    margin: 0;
}

.text{
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 12px;
}

.container{
    margin-top: 20px;
}

.list{
    width: 534px;
    margin: 0 auto;
    padding: 0;
}

.list-item{
    width: 534px;
    height: 45px;
    background: #88839E;
    list-style-type: none;
    padding-top: 12px;
}

.list-item:nth-child(2n+0){
    background-color:  #625E77;
}

.list-item:hover {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.checkbox:checked + span{
    text-decoration: line-through;
}

.list-item:active{
    background-color: #FF8984;
}


.line, .line1, .line2, .line3, .line4, .line5{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.line::after{
    content: "(for the next lessons about CSS)";
    color: #FFFFFF;
    font-size: 11px;
}

.line1::after{
    content: "(for more CSS manipulations)";
    color: #FFFFFF;
    font-size: 11px;
}

.line2::after{
    content: "(because they are awesome)";
    color: #FFFFFF;
    font-size: 11px;
}

.line3::after{
    content: "(hm... they always dissapear)";
    color: #FFFFFF;
    font-size: 11px;
}

.line5::after{
    content: "(for my friends)";
    color: #FFFFFF;
    font-size: 11px;
}

.footer-section{
    width: 534px;
    height: 45px;
    background: #4A4F56;
    color: #FF8984;
    margin: 0 auto;
}

.text1{
font-family: Roboto;
font-size: 18px;
line-height: 21px;
text-align: center;
padding-top: 12px;
}
